@import "variables";

.card {
    width: 100%;
    border: 1px solid white;
    border-left: 6px solid $yellow;
    background: white;
    border-radius: 5px;
    color: #333;
    margin-bottom: 1em;

    .card-container { 
        margin: 1em;
    }

    &.yellow {
        border-left-color: $yellow;
        .profile {
            img {
                border-color: lighten($yellow, 10%);
            }
        }
    }
    
    &.teal {
        border-left-color: $teal;
        .profile {
            img {
                border-color: lighten($teal, 10%);
            }
        }
    }

    &.purple {
        border-left-color: $purple;
        .profile {
            img {
                border-color: $purple;
            }
        }
    }

    &.red {
        border-left-color: $red;
        .profile {
            img {
                border-color: $red;
            }
        }
    }

    &.green {
        border-left-color: $green;
        .profile {
            img {
                border-color: $green;
            }
        }
    }
}