// WEB

// Color
$navy: #353571;
$yellow: #f5a623;
$teal: #31d9b3;
$purple: #cc65e1;
$red: #f77888;
$green: #7db463;
$light-green: #b3e488;
$grey: #8a8a8a;
$light-grey: #9b9b9b;

// MOBILE

$blue: #334bc9;


// Typography
$h1-color: $navy;
$h1-color2: #616161;
$h1-color3: #376294;
$h1-size: 64px;
$h1-weight: 600;

$h2-color: #9b9b9b;
$h2-color2: #616161;
$h2-color3: #376294;
$h2-size: 24px;
$h2-weight: 600;

$h3-color: #4a4a4a;

$h4-color: $navy;
$h4-size: 12px;
$h4-weight: 600;

$h5-color: $grey;
$h4-size: 18px;
$h4-weight: 500;

$h6-color: $light-grey;
$h6-size: 14px;
$h6-weight: 300;

$h7-size: 13px;
$h7-weight: 500;

$h8-size: 10px;
$h8-weight: 300;