// Color
$navy: #333370;
$yellow: #f6a827;
$teal: #2fd7b1;
$purple: #cc68e2;
$red: #f77889;
$redish: #ff8091;
$green: #7cb462;
$blue: #488fe2;
$teal-light: #5ff0cf;
$grey: #8a8a8a;
$light-grey: #9b9b9b;

// Typography
$h1-color: $navy;
$h1-size: 26px;
$h1-weight: 600;

$h2-color: #335573;
$h2-size: 10px;
$h2-weight: 500;

$h3-color: #335573;
$h3-size: 9px;
$h3-weight: 300;

$h4-color: $navy;
$h4-size: 12px;
$h4-weight: 600;

$h5-color: $grey;
$h4-size: 18px;
$h4-weight: 500;

$h6-color: $light-grey;
$h6-size: 14px;
$h6-weight: 300;

$h7-size: 13px;
$h7-weight: 500;

$h8-size: 10px;
$h8-weight: 300;