// Color
$navy: #353571;
$yellow: #f5a623;
$teal: #31d9b3;
$purple: #cc65e1;
$red: #f77888;
$green: #7db463;
$light-green: #b3e488;
$grey-blue: #85a7cd;
$grey: #8a8a8a;
$light-grey: #e5e4e5;
$blue: #334bc9;
$blue2: #488fe2;

// Border Colors
$yellow-border: #fffbcc;
$teal-border: #c9fff2;
$red-border: #ffe1e3;

// Button Colors
$btn-color: $blue2;

// Headings
$h1-color: $navy;
$h1-color2: #616161;
$h1-color3: #376294;
$h2-color: #9b9b9b;
$h2-color2: #616161;
$h2-color3: #376294;
$h3-color: #4a4a4a;
$h4-color: $navy;
$h5-color: $grey;
$h6-color: $light-grey;

// font weights
$font-light: SFProLight, Helvetica, Arial, sans-serif;
$font-regular: SFPro, Helvetica, Arial, sans-serif;
$font-medium: SFProMedium, Helvetica, Arial, sans-serif;
