.card {
    width: 100%;
    border: 1px solid #ffffff;
    border-left: 5px solid #F5A623;
    padding: 1em 2em 1em 1em;
    background: white;
    border-radius: 5px;
    color: #333;
    margin-bottom: 1em;

    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.teal {
        border-left-color: #30D9B2;
    }
}