@import "../../assets/scss/variables";
.tab-list {
  text-align: center;
  padding-left: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -2px;
  padding: 0.5em 0;
  width: 50%;
  color: grey;
  font-size: 1.5em;
  &:hover {
    cursor: pointer;
  }
}

.tab-list-active {
  background-color: transparent;
  border-bottom: 3.5px solid $light-green;
  color: navy;
}

// 980 px -
@media only screen and (min-width: 980px) {
  .tab-list {
    margin-right: 20px;
  }
  .tab-list-item {
    color: white;
  }
}

@media only screen and (max-width: 979px) {
  .tab-list {
    background: white;
    padding: 2em;
    margin-bottom: 0;
  }
}
