@import "../../assets/scss/variables";
.tab-list {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding-left: 0;
    margin-bottom: 2em;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -2px;
    padding: 0.5rem 0;
    width: 50%;
    color: grey;
    font-size: 1.5em;
    &:hover {
        cursor: pointer;
    }
  }
  
  .tab-list-active {
    background-color: transparent;
    border-bottom: 3px solid $green;
    color: navy;
  }

@media only screen and (min-width: 980px) {
  .tab-list-item {
    color: white;
  }
}