/* Notifications page */
@import "../assets/scss/variables";

.notifications {
  section {
    position: relative;
    .notifications-num {
      position: absolute;
      color: white;
      top: -6.8em;
      right: 27em;
      font-size: 10px;
      font-weight: 600;
      background: orange;
      border-radius: 50%;
      padding: 1px;
    }
    .notifications-details {
      p {
        margin: 3em 0 0 3em;
      }
    }
  }
}
