/* Polls page */
@import "../assets/scss/buttons";

.polls {

    aside {
        padding-top: 6.3rem;

        h1 {
            margin-top: 0.7rem;
        }

        .pagination {
            margin-top: 25px;
        }

        .poll-questions {
            min-height: 12em;
        }
    }

    @media only screen and (max-width: 979px) {
        aside {
            padding-top: 3rem;
    
            h1 {
                margin-top: 0.3rem;
            }
    
            .pagination {
                margin-top: 2rem;
            }
        }
        section {
            h1 {
                display: none;
            }
            .add-new-candidate {
                position: absolute;
                right: 0;
                top: -5em;
                color: $navy;
            }
        }
      }

    .add-new-candidate {
        align-items: center;
        margin-bottom: 2em;
        font-size: 1.5em;
        font-family: $font-medium;
        i {
            margin-right: 0.5em;
        }
        img {
            height: 24px;
        }
    }

    section {

        .search-bar {
            position: relative;
            display: flex;
            align-items: center;

            img {
                position: absolute;
                left: 1em;
                color: $navy;
                font-weight: 700;
                width: 20px;
            }

            input {
                width: 100%;
                border: 1px solid #ccc;
                padding: 1.3rem 1rem 1.3rem 3rem;
                color: #999;
                border-radius: 3px;
                margin: 0.5rem 0;
              }
        }
        
        .total-candidates {
            width: 100%;
            text-align: center;
            color: $grey;
            padding: 1rem 0;
        }

        .candidate {
            text-align: center;
            .info {
                line-height: 1.5;
            }
            .oppose {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 20px;
                    margin-right: 0.5em;
                }
            }
        }
        .profile {
            align-items: center;
            h2 {
                font-size: 18px;
                color: $navy;
            }
            h3 {
                font-size: 14px;
                color: $grey;
            }
            img {
                height: 70px;
                margin-right: 1em;
                border: 3px solid gray;
                border-radius: 50%;
            }
        }

        .rating {
            img {
                height: 30px;
                margin-right: 0.5em;
            }
            .up, .down {
                align-items: center; 
                margin-left: 1em;
                font-weight: 600;
            }
        }
        .position-content {
            text-align: center;

            .switch-field {
                padding: 2em 0;
                overflow: hidden;
              }
              
              .switch-field input {
                  position: absolute !important;
                  clip: rect(0, 0, 0, 0);
                  height: 1px;
                  width: 1px;
                  border: 0;
                  overflow: hidden;
              }
              
              .switch-field label {
                float: left;
              }
              
              .switch-field label {
                display: inline-block;
                width: 50%;
                background-color: lighten($grey, 40%);
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                font-weight: normal;
                text-align: center;
                text-shadow: none;
                padding: 1em;
                border: none;
                transition: all 0.1s ease-in-out;
              }
              
              .switch-field label:hover {
                  cursor: pointer;
              }
              
              .switch-field input:checked + label {
                background-color: $blue2;
                color: white;
                box-shadow: none;
              }
              
              .switch-field label:first-of-type {
                border-radius: 3px 0 0 3px;
              }
              
              .switch-field label:last-of-type {
                border-radius: 0 3px 3px 0;
              }
            .current-value {
                color: $grey;
            }
            .merits {
                color: $teal;
                font-size: 2rem;
            }
            .withdraw-support {
                color: $blue2;
                font-size: 1.3rem;
                span {
                    color: $green;
                }
            }
        }
    }

}
