@import "../assets/scss/mixins";
@import "../assets/scss/variables";

.rewards {
  aside {
    ul {
      margin-top: 10em;
      li {
        .card-container {
          margin: 1.5em 2em;
          align-items: center;

          .msg {
            margin-right: 1rem;
            margin-left: 1.5rem;
            h2 {
              color: $h2-color3;
              font-size: 2em;
            }
            p {
              margin: 0.2em 0;
            }
          }

          img {
            height: 15px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            &.complete-icon {
              height: 28px;
            }
          }
        }
      }
    }
  }
  section {
    .rewards-details {
      .reward-each-detail {
        padding-top: 150px;
        span {
          color: $yellow;
          font-size: 20px;
          &.yellow {
            color: $yellow;
          }
          &.teal {
            color: $teal;
          }
        }
        h1 {
          color: white;
          margin-top: 20px;
        }
        p {
          font-size: 15px;
        }
      }

      .rewards-button {
        text-align: center;
        margin-top: 5em;

        // rewteet button
        button {
          letter-spacing: 0.03em;
          border: 5px solid lightblue;
          padding: 20px 60px;
          font-size: 25px;
          border-radius: 15px;
          font-weight: 500;
          &:before {
            height: 70px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            transition: all 0.5s ease;
          }
        }

        // DM selected users
        ul.selected-users {
          display: flex;
          flex-wrap: wrap;
          li {
            margin: 0.5em;
            padding: 10px;
            font-size: 1.5em;
            background: #cce6ff;
            border-radius: 5px;
            border: 3px solid lightblue;
            span {
              color: #595959;
            }
            img {
              height: 18px;
              margin-left: 1em;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .twitter-autosuggest {
          margin-top: 5em;
          margin-right: 3em;
          img.search-icon {
            right: 1em;
            left: auto;
            color: white;
            width: 30px;
            top: 2em;
          }
          div {
            input {
              background: none;
              border: none;
              border-bottom: 1px solid white;
              font-size: 1.5em;
              padding: 1rem 1rem 1rem 1rem;
              font-weight: 100;
              color: rgba(255, 255, 255, 0.7);
            }
            input::placeholder {
              color: rgba(255, 255, 255, 0.7);
            }
          }
          .react-autosuggest__container {
            border: none;
            .card {
              background: none;
              border: none;
              .card-container {
                margin: 1.5em;
                .name {
                  text-align: left;
                  margin-top: 10px;
                  h2,
                  h3 {
                    color: white;
                    font-weight: lighter;
                  }
                }
              }
            }
          }
          .no-results {
            text-align: left;
            padding-top: 1em;
            padding-left: 0.5em;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
    }
  }
}
