@import "../../assets/scss/variables";
.opinion-support {
  margin: 4em auto;
  width: 80%;
  text-align: center;
  .info {
    display: flex;
    align-items: center;
    img {
      height: 14px;
    }
    span {
      font-style: italic;
      font-size: 1em;
      margin-left: 0.5em;
    }
  }

  .oppose img {
    height: 20px;
    margin-right: 0.5em;
  }
  .rangeslider {
    .rangeslider__handle {
      border-color: $teal;
      background: $teal;
    }
    &.rangeslider-horizontal {
      .rangeslider__handle {
        border-color: $teal;
        background: $teal;
        &:after {
          border-color: $teal;
          background: $teal;
        }
      }
      .rangeslider__fill {
        background-color: $teal;
      }
    }
  }

  .slider {
    .merits-box {
      display: flex;
      align-items: baseline;
      justify-content: center;
      border: none;
      padding: 1em 4em;
      color: $teal;
      font-family: SFProMedium;
      width: 120px;
      margin: 1em auto 2em;
      input {
        border: none;
        width: 3em;
        color: $teal;
        border: 1px solid $light-grey;
        border-radius: 10px;
        width: 90px;
        padding-left: 0.5em;
        height: 2em;
        text-align: right;
      }
      .small-text {
        font-size: 1.3em;
        padding-left: 0.5em;
      }
    }
  }

  p.arrow-opinion {
    margin: 2em;
  }

  p.oppose {
    margin: 2em;
  }
}
