@import "../../assets/scss/variables";

ul.navbar-right {
  li {
    button.twitter-signin {
      padding: 0.5em 1em;
      border: none;
      background: white;
      span {
        letter-spacing: 0.03em;
        color: #4a4a4a;
        font-size: 13px;
      }
    }
  }

  li {
    .unauth-container {
      .get-started {
        position: relative;
        border: 1px solid grey;
        padding: 1em;
        border-radius: 5px;

        span {
          font-size: 13px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .auth-container {
    .profile-pic {
      position: relative;

      img {
        border-radius: 50%;
        height: 35px;
        transform: translateY(10%);
        &:hover {
          cursor: pointer;
        }
      }

      ul.profile-menu {
        text-align: center;
        height: 400px;
        background: white;
        position: absolute;
        width: 300px;
        top: 95px;
        left: -180px;
        z-index: 1;
        padding-top: 5px;
        // triangle white shape on the top
        :after {
          width: 0px;
          height: 0px;
          position: absolute;
          top: 0%;
          right: 80px;
          content: "";
          transform: translate(0%, -100%);
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 13px solid white;
        }
        img.cancel-button {
          float: right;
          margin-top: 3px;
          margin-right: 8px;
          height: 15px;
          &:hover {
            cursor: pointer;
          }
        }
        li {
          display: block;
          font-size: 20px;
          margin: 35px 0;
          a.nav-link {
            display: inline;
          }
        }
        &:hover {
          font-weight: 600;
          color: black;
        }
      }
    }
    .user-total-merits {
      font-size: 15px;
      font-weight: bold;
      margin-left: 15px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .profile-pic,
    .user-total-merits {
      display: inline-block;
    }
  }
}

// 600px -
@media only screen and (min-width: 600px) {
  ul.navbar-right {
    .auth-container {
      display: table-cell;
      .profile-pic {
        img {
          height: 50px;
        }
      }
      .user-total-merits {
        font-size: 20px;
      }
    }
  }
}

// 0px - 599px
@media only screen and (max-width: 599px) {
  ul.navbar-right {
    li {
      button.twitter-signin {
        padding: 0.3em 1em;
        font-size: 1em;
        margin-right: -15px;
        span {
          font-size: 10px;
          svg {
            height: 20px;
          }
        }
      }
    }
    li {
      .unauth-container {
        .get-started {
          padding: 0.7em;
          span {
            font-size: 10px;
          }
        }
      }
    }

    .auth-container {
      padding: 10px 0px;
      .profile-pic {
        ul.profile-menu {
          top: 60px;
          left: -200px;
          :after {
            right: 70px;
          }
        }
      }
    }
  }
}

// 0px - 423px
@media only screen and (max-width: 423px) {
  ul.navbar-right {
    li {
      button.twitter-signin {
        margin-right: 0;
      }
    }

    .auth-container {
      .profile-pic {
        img {
          height: 30px;
        }
      }
      .user-total-merits {
        margin-left: 10px;
      }
    }
  }
}
