
@import "assets/scss/layout";

/* Wrapper */
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  padding: 1em 0 1em 4em;
  color: rgba(255,255,255,0.7);
}

section h1 {
  margin: 0;
  color: white;
  font-size: 3.79em;
  letter-spacing: 0.03em;
  font-weight: 400;
}

section p.add-new {
    padding-bottom: 1em;
}


aside {
  padding: 1em 4em 1em 0;
}

aside h1 {
  margin-top: 0;
  font-size: 3.79em;
  letter-spacing: 0.03em;
  color: #353571;
  font-weight: 400;
}
aside h2 {
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 1.3rem;
  color: #D4D4D4;
  font-weight: 400;
}

aside p {
  margin: 3em 0;
}

/* Typography */
h4 {
  font-size: 1em;
}

/* helpers */
.flex {
  display: flex;
}
