.row > .polls-left {
  padding: 60px;
}

.row > .polls-right {
  background-color: #2251dd;
  color: white;
  padding: 60px;
}

.navbar {
  background: linear-gradient(90deg, white 50%, #2251dd 50%);
}

/* .Profile > .row > .col-sm-4 {
  text-align: center;
  font-size: 50px;
} */
