@import "assets/scss/layout";
@import "assets/scss/card";
@import "assets/scss/variables";

/* Wrapper */
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background: white;
  height: 50px;
  border-bottom: 1px solid $grey;
}

@media only screen and (min-width: 980px) {
  header {
    height: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}

i {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  background: white;
  padding: 1.5rem 2rem 2rem;
}

@media only screen and (min-width: 980px) {
  .container {
    background: transparent;
    padding: 0;
  }
}

section {
  padding: 1em 0 1em 4em;
  color: rgba(255,255,255,0.7);
  h1 {
    color: white;
    font-family: SFProLight, Helvetica, Arial, sans-serif;
  }
  p.add-new {
    padding-bottom: 1em;
  }
}


aside {
  padding: 1em 4em 1em 0;
  h1 {
    margin: 0;
  }
  h2 {
    color: #D4D4D4;
  }
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 3.79rem;
  color: $navy;
}

h2 {
  font-size: 1.5rem;
  color: $h2-color;
  .color2 {
    color: $h2-color2;
  }
  .color3 {
    color: $h2-color3;
  }
  &.coming-soon {
    margin: 2em 0;
    color: lighten($grey, 30%);
    width: 100%;
    text-align: center;
  }
}

h3 {
  font-size: 1.125rem;
  color: $h3-color;
}

h4 {
  font-size: 1rem;
}

h6 {
  font-size: 1.5rem;
  color: $h2-color;
  margin-top: 0.5em;
}


/* helpers */
.flex {
  display: flex;
  &.sb {
    justify-content: space-between;
    align-items: center;
  }
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.lg-vspace {
  margin-top: 7rem;
}

.md-vspace {
  margin-top: 2rem;
}

.sm-vspace {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 979px) {
  .lg-vspace {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 479px) {
  h1 {
    font-size: 1.825rem;
  }
  section {
    font-size: 40%;
    img {
      max-width: 60%;
    }
  }
  .lg-vspace {
    margin-top: 1rem;
  }
}
