
@import "assets/scss/layout";
@import "assets/scss/variables";

/* Wrapper */
.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  padding: 1em 0 1em 4em;
  color: rgba(255,255,255,0.7);
}

section h1 {
  margin: 0;
  color: white;
}

section p.add-new {
    padding-bottom: 1em;
}


aside {
  padding: 1em 4em 1em 0;
}

aside h1 {
  margin-top: 0;
}
aside h2 {
  margin-top: 4em;
  color: #D4D4D4;
}

aside p {
  margin: 3em 0;
}

/* Typography */
h1 {
  font-size: 3.79em;
  color: $navy;
}

h2 {
  font-size: 24px;
  color: $h2-color;
  .color2 {
    color: $h2-color2;
  }
  .color3 {
    color: $h2-color3;
  }
}

h3 {
  font-size: 18px;
  color: $h3-color;
}

h4 {
  font-size: 1em;
}

/* helpers */
.flex {
  display: flex;
}
