

html {
  box-sizing: border-box;
  font-size: 100%;
}

@media only screen and (max-width: 979px) {
  html {
    font-size: 75%;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: SFPro;
  src: url('assets/font/SFProText-Regular.ttf');
}

@font-face {
  font-family: SFProMedium;
  src: url('assets/font/SFProText-Medium.ttf');
}

@font-face {
  font-family: SFProLight;
  src: url('assets/font/SFProText-Light.ttf');
}


body {
  margin: 0;
  padding: 0;
  font-family: SFPro, Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #4a4a4a;
  background-image: linear-gradient(
    to right, 
    white 0%,
    white 50%, 
    #334bc9 50%, 
    #334bc9 100%
  );
}

@media only screen and (max-width: 979px) {
  body {
    background: white url(assets/images/bg-image-mobile.png) 0 0 repeat-y;
    background-size: contain;
  }
}

h1, h2 {
  font-family: SFProMedium, Helvetica, Arial, sans-serif;
}

h3, h4, h5, h6 {
  font-family: SFProLight, Helvetica, Arial, sans-serif;
}
