@import "../../assets/scss/variables";

.candidate {
  text-align: center;

  .flex-sb {
    &:hover {
      cursor: pointer;
    }

    .profile {
      align-items: center;
      min-width: 0px;

      img {
        height: 70px;
        margin-right: 1em;
        border: 3px solid gray;
        border-radius: 50%;
      }

      h2 {
        font-size: 18px;
        color: $navy;
      }

      h3 {
        font-size: 14px;
        color: $grey;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2,
        h3 {
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .rating {
    .up,
    .down {
      align-items: center;
      margin-left: 1em;
      font-weight: 600;
    }

    .down {
      margin-right: 4em;
    }
    img {
      height: 30px;
      margin-right: 0.5em;
    }

    .merits-total {
      min-width: 2em;
      text-align: left;
    }
  }
}
