@import "../../assets/scss/variables";

.candidate-myposition {
  text-align: center;

  .flex-sb {
    &:hover {
      cursor: pointer;
    }

    .profile {
      align-items: center;
      min-width: 0px;

      h2 {
        font-size: 18px;
        color: $navy;
      }

      h3 {
        font-size: 14px;
        color: $grey;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2,
        h3 {
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .rating {
    .merits-box-opinions {
      align-items: center;
      margin-left: 1em;
      margin-right: 2em;
      font-weight: 600;
      min-width: 150px;

      img {
        height: 30px;
        margin-right: 0.5em;
      }

      .merit-num {
        font-size: 1.5em;
        font-family: SFProMedium;

        &.up {
          color: $teal;
        }

        &.down {
          color: $red;
        }
      }
    }
  }
}
