@import "../../assets/scss/variables";

.candidate {
  text-align: center;

  .flex-sb {
    &:hover {
      cursor: pointer;
    }

    .profile {
      align-items: center;
      min-width: 0px;

      h2 {
        font-size: 18px;
        color: $navy;
      }

      h3 {
        font-size: 14px;
        color: $grey;
      }

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2,
        h3 {
          text-align: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .rating {
    min-width: 171px;
    .up,
    .down {
      align-items: center;
      margin-left: 1.5em;
      font-weight: 600;
    }
    img {
      height: 30px;
      margin-right: 0.5em;
    }

    .merits-total {
      min-width: 2em;
      text-align: left;
      font-size: 1.3em;
    }
  }
}
