@import "../../assets/scss/variables";

.opinion-expression {
  margin: 4em auto;
  width: 80%;
  text-align: center;

  .info {
    display: flex;
    align-items: center;
    img {
      height: 14px;
    }
    span {
      font-style: italic;
      font-size: 1em;
      margin-left: 0.5em;
    }
  }

  .candidate {
    p.arrow-opinion {
      margin: 2em;
    }

    p.oppose,
    p.support {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2em 0;
      img {
        height: 20px;
        margin-right: 0.5em;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  &.opinion-support {
    .rangeslider .rangeslider__handle {
      border-color: $teal;
      background: $teal;
    }
    .rangeslider.rangeslider-horizontal {
      .rangeslider__handle {
        border-color: $teal;
        background: $teal;
        &:after {
          border-color: $teal;
          background: $teal;
        }
      }
      .rangeslider__fill {
        background-color: $teal;
      }
    }
    .slider .merits-box {
      input.large-text {
        color: $teal;
      }
      .small-text {
        color: $teal;
      }
    }
  }

  &.opinion-opposition {
    .rangeslider .rangeslider__handle {
      border-color: $red;
      background: $red;
    }
    .rangeslider.rangeslider-horizontal {
      .rangeslider__handle {
        border-color: $red;
        background: $red;
        &:after {
          border-color: $red;
          background: $red;
        }
      }
      .rangeslider__fill {
        background-color: $red;
      }
    }
    .slider .merits-box {
      input.large-text {
        color: $red;
      }
      .small-text {
        color: $red;
      }
    }
  }
}
