/* Navbar */
@import "../../assets/scss/variables";
/* Remove margins and padding from the list, and add a black background color */

.navbar {
  /* width 0px - 599px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0;
  overflow: hidden;
  /* width 600px - 1440 px */
  @media only screen and (min-width: 600px) {
    height: 80px;
  }
}

/* Float the list items side by side */
.navbar ul li {
  display: inline-block;
}

/* Style the links inside the list items */
.navbar ul li a {
  display: inline-block;
  color: #666;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
  font-family: $font-light;
  transition: 0.3s;
}
@media only screen and (max-width: 599px) {
  .navbar ul li a {
    padding: 14px 10px;
  }
}

.navbar-brand {
  padding-left: 0;
  margin-right: 20px;
  font-family: $font-medium;
  text-decoration: none;
  color: $navy;
  font-size: 2em;
  display: flex;
  align-items: center;

  img {
    height: 35px;
  }
}

/* width 600px - 1440px */
@media only screen and (min-width: 600px) {
  .navbar-brand {
    img {
      height: 63px;
    }
  }
}

@media only screen and (max-width: 423px) {
  .navbar-brand {
    margin-right: 8px;
    img {
      height: 25px;
    }
  }
}

.navbar ul li:last-child a {
  padding-right: 0;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li .white {
  color: white;
}

/* Change background color of links on hover */
.navbar ul li a:hover {
  color: #111;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
/* width 320px - 423px */
.navbar ul li {
  margin-right: 0.7em;
  .nav-link {
    img {
      height: 25px;
    }
    .name {
      font-size: 0.8em;
    }
  }
}
/* width 424px - 599 px */
@media only screen and (min-width: 424px) {
  .navbar ul li {
    margin-right: 2em;
    .nav-link {
      img {
        height: 30px;
      }
      .name {
        font-size: 1em;
      }
    }
  }
}

/* width 600px - 1440px */
@media only screen and (min-width: 600px) {
  .navbar ul li {
    .nav-link {
      img {
        height: 35px;
      }
    }
  }
}

/* width 0px - 599px */
@media only screen and (max-width: 599px) {
  .navbar ul li {
    .nav-link {
      .name {
        display: none;
      }
    }
  }
}
