/* Navbar */
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    padding-top: 1em;
}

.navbar-links li {
    display: inline-block;
    padding: 0 0.7em;
}

.navbar-links li.last {
    padding-right: 0;
}

.navbar-links li.first {
    padding-left: 0;
}

.navbar-links li a {
    color: #353571;
    font-size: 0.875em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.navbar-links li a.navbar-brand {
    color: #244266;
    font-size: 1em;
    margin-right: 2em;
    font-weight: 600;
}